<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <header class="header">
    <a href="http://" class="logo"><span>Han</span>nah</a>

    <nav class="navbar">
        <a href="http:/" class="active">Portfolio</a>
        <a href="http://">Service</a>
        <a href="http://">experience</a>
        <a href="http://">contact</a>
    </nav>

    <a href="http://" class="contact">Contact Me</a>
   </header> 

   <section class="home">
    <div class="home-content">
        <h3> Hi </h3>

        <h1> I'm <span>Hannah <br></span> a Frontend developer</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Maxime ipsum eius sit minus rem ut commodi accusantium at velit, 
            enim non et quisquam aspernatur optio iste,
             unde esse, dolorum cumque.</p>

             <div class="btn-box">
                <button class="btn-1">Hire me</button>
                <button class="btn-2">Experience</button>
             </div>
    </div>
    <div class="img-box">
        <img src="1.jpg" alt="pic" srcset="">
    </div>
   </section>

   <section class="about">
    <div class="about-img">
        <img src="1.jpg" alt="" srcset="">
    </div>
    <div class="about-content">
        <h2 class="heading">About <span>me</span></h2>
        <h3>Frontend <span>developer</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque deserunt nesciunt, 
            corrupti ipsa unde quos qui optio doloribus veniam ipsam voluptates
             consequuntur error quia rerum deleniti dolores aliquid sed corporis?</p>
             <a href="#" class="btn-2">Experience</a>
    </div>
   </section>

   <section class="contact-form">
    <h2 class="contact-me"> Contact <span>me</span></h2>
    <form action="" method="get">
        <div class="input-box">
            <input type="text" placeholder="fname">
            <input type="email" placeholder="email">
        </div>
        <div class="input-box">
            <input type="number" placeholder="number">
            <input type="text" placeholder="subject">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>
        <input type="submit" value="send message" class="btn-1">
    </form>
   </section>

   <footer class="footer">
    <div class="social">
        <a href="http://">Boxicons</a>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
    </div>

    <ul class="list">
        <li>
            <a href="http://">FAQ</a>
        </li>
        <li>
            <a href="http://">Service</a>
        </li>
        <li>
            <a href="http://">about</a>
        </li>
        <li>
            <a href="http://">contact</a>
        </li>
        <li>
            <a href="http://">privacy policy</a>
        </li>
    </ul>

    <p class="copyright">@ 2023 Hannah | All Rights Reserved</p>
   </footer>
</body>
</html>